/*  mi paleta
.color1 {color: #12090e;}
.color2 {color: #2b2c4b;}
.color3 {color: #65659b;}
.color4 {color: #b09eea;}
.color5 {color: #f8d3ed;} */

/* navbar */

header{
    height: 56px;
}

.navbar, .offcanvas{
    background-color: #15284c;
}

.navbar-brand, .nav-link, .navbar-brand:hover, .nav-link:hover, .offcanvas-title, .navbar-toggler, #logo_carrito{
    color: #c9d4ff;
    cursor: pointer;
}

.navbar-brand{
    margin-bottom: 0;
}

.navbar-nav{
    align-items: center;
    gap: 40px;
    font-size: 18px;
    padding: 8px 0px;
}

#logo_carrito{
    margin: 0px 78px;
    text-align: center;
}

.link{
    color: white;
    text-decoration: none;
}
.link:hover{
    color: white;
}

.offcanvas-body{
    align-items: center;
}

/* MAIN */

.titulo_main{
    text-align: center;
    font-size: 40px;
    margin: 30px;
}

/* productos */
.container_products{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto auto;
}

.product_card {
    text-align: center;
    margin: 20px 0px;
    cursor: pointer;
}

.product_card img{
    height: 300px;
    border: 8px solid black;
}

.info_product{
    display: none;
    background-color: white;
    width: 50px;
}

.product_card:hover > .info_product{
    display: block;
    position:relative;
    top: 0%;
    left: 0%;
}
